

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* video background */








.carousel-item {
    transition: transform 0.5s ease-in-out;
}

.carousel-item-next,
.carousel-item-prev,
.carousel-item-end,
.carousel-item-start {
    transform: translateX(0);
}

.btn-close {
    --bs-btn-close-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%232596be'%3e%3cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/%3e%3c/svg%3e") !important;
}

.menu-icon {
    color: #ffffff;
    font-size: 6rem; 
    height: auto; 
    max-width: 100%; 
    display: block; 
}


.bg-plava {
    background-color: #2a91f9;
}

.outter {
    background-color: rgba(255, 255, 255, 0.4);
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;


}
.video-container {
    height: 100vh;
    width: 100%;
    max-width: 100vw;

    position: relative;
    overflow: hidden;

}

video {
    object-fit: cover;
    position: absolute;
    filter: blur(5px);
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

.carousel-indicators {
    z-index: 0 !important;
    margin-bottom: 0rem !important;
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e") !important;
    width: 4rem !important;
    height: 5rem !important;
}

.carousel-control-next {
    right: -30px !important;

}

.carousel-control-prev {
    left: -30px !important;
    z-index: 0 !important;
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/%3e%3c/svg%3e") !important;
    width: 4rem !important;
    height: 5rem !important;
}

.carousel-indicators [data-bs-target] {

    background-color: #ffffff !important;

}

body {
    opacity: 0;
    transition: opacity .5s;
    overflow-x: hidden;
}

.video-container:after {
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(black, .2);
    z-index: 1;
}

h1 {
    text-transform: uppercase;
    color: white;
    font-weight: 900;
    margin: 0 0 1rem;
    padding: 0;
    line-height: 1;
    font-family: Raleway;
    font-size: 5vw;
    font-weight: 700;

    @media (max-width: 400px) {
        font-size: 22px;
    }

    @media (min-width: 1200px) {
        font-size: 75px;
    }
}

.desc {
    font-family: Raleway;
    color: white;
    font-weight: 400;
    font-size: 18px;
}

.callout {

    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    text-align: center;
    z-index: 10;
    width: 70%;
    margin: auto;
}

.custom-flag-size {
    font-size: 2rem;
    /* Prilagodite vrednost da povećate ili smanjite veličinu zastave */
}


.button {
    text-transform: uppercase;
    background-color: transparent;
    border-radius: 40px;
    padding: 4px;
    border: 1px solid #2596be;
    margin-top: 20px;

    .inner {
        background-color: rgba(37, 150, 190, 0.59);

        padding: 15px 30px;
        border-radius: 40px;


    }

}

.support {
    position: fixed;
    bottom: 60px;
    right: 20px;
    text-transform: uppercase;
    font-size: 9px;
    letter-spacing: 1px;
    text-align: right;
    position: relative;
    z-index: 10;

    a {
        color: white;
        text-decoration: none;
        position: relative;
        display: inline-block;
        margin-top: 10px;

        &:before {
            display: block;
            position: absolute;
            content: '';
            bottom: -2px;
            width: 0;
            height: 1px;
            background-color: rgba(white, .3);
            transition: .3s;
        }

        &:hover:before {
            width: 100%;
        }
    }
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='%23fff' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}


html {
    scroll-behavior: smooth;
}

.overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    font-family: Georgia, serif;
    letter-spacing: .2rem;
    transform: translate(-50%, -50%);
    color: wheat;
    padding: 10px 20px;
    font-size: 20px;
    text-align: center;
}

.google-map {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
}

.google-map iframe {
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    position: absolute;
}

.logo {
    background-color: rgb(29, 29, 29);
    padding: 10px;

}


.navbar {
    background-color: rgb(29, 29, 29);
    --bs-navbar-toggler-padding-y: 0.25rem !important;
    --bs-navbar-toggler-padding-x: 0.25rem !important;
    --bs-navbar-toggler-font-size: 2.25rem !important;
}

.navbar li {
    text-align: center;
    margin-bottom: 5px;
}


.navbar li a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 70%;
    color: #000000;
}

.navbar ul li a {
    position: relative;
    z-index: 1;
    padding-left: 50px;
    padding-right: 50px;
}

.linkovi {
    font-size: 0.8rem;
    color: rgb(0, 0, 0);
    font-family: Georgia, serif;
    letter-spacing: .2rem;
}



.navbar-collapse {
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 120px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    height: 100%;
    width: 50%;

}

.navbar-collapse.collapsing {
    height: 100%;
    left: -50%;
    transition: height 0s ease;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.682);

    background-size: 20%;
    background-repeat: no-repeat;
    background-position-x: center;
    background-color: rgb(201, 201, 201);
    background-position-y: 5%;
}

.navbar-collapse.show {
    height: 100%;
    left: 0;
    background-color: rgb(201, 201, 201);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.682);
    transition: left 400ms ease-in-out;

    background-size: 20%;
    background-position-x: center;
    background-repeat: no-repeat;
    background-position-y: 5%;
}

.navbar-toggler.collapsed~.navbar-collapse {

    transition: left 400ms ease-in;

}